:root {
  --spacer-unit: 1rem;
  --color-black: #150C0D;
  --color-light-blue: #C6C5CB;
  --color-medium-blue: #A1A1A6;
  --color-dark-blue: #0D1C2D;
  --color-yellow: #D9A918;
  --color-light-red: #D04A1F;
  --color-medium-red: #BD2E11;
  --color-dark-red: #97200C;
  --color-orange: orange;
}

.main {
  display: flex;
  margin: 8rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
 * Painting:
 * 8 rows
 * 6 columns
 */

.painting {
  /* TODO: make painting dimensions responsive */
  width: 600px;
  height: 600px;
}

.painting__grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.painting__rectangle {
  border: 1px dashed var(--color-black)
}

.background-light-blue {
  background-color: var(--color-light-blue);
}

.background-medium-blue {
  background-color: var(--color-medium-blue);
}

.background-dark-blue {
  background-color: var(--color-dark-blue);
}

.background-yellow {
  background-color: var(--color-yellow);
}

.background-light-red {
  background-color: var(--color-light-red);
}

.background-medium-red {
  background-color: var(--color-medium-red);
}

.background-dark-red {
  background-color: var(--color-dark-red);
}

.background-black {
  background-color: var(--color-black);
}
